
	<mat-toolbar color="primary">
	  <span>
	    <a>Instantigo</a>&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/img/Logo.jpg" class="img-circle" id="im">
	  </span>

	      <a mat-button routerLink="/flight/oneway" routerLinkActive="mat-accent">Flight</a>
	   
	      <a mat-button routerLink="/hotel" routerLinkActive="mat-accent">Hotel</a>

	      <a mat-button routerLink="/cab" routerLinkActive="mat-accent">Cab</a>
	    
	   <span class="spacer"></span>
	   		
	      <a mat-button routerLink="/login" routerLinkActive="mat-accent"><i class="material-icons">account_circle&nbsp;&nbsp;</i>Login</a>
	    
	      <a mat-button routerLink="/signup" routerLinkActive="mat-accent">Signup</a>
	   
	</mat-toolbar>
	<div class="container">
		<a mat-button routerLink="/flight/oneway" routerLinkActive="mat-accent" id="col">Oneway</a>
	   
		<a mat-button routerLink="/flight/roundtrip" routerLinkActive="mat-accent" id="col">Round Trip</a>

		<a mat-button routerLink="/flight/multicity" routerLinkActive="mat-accent" id="col">Multi-city</a>
	</div>
	


