#bt{
	float: right;
}
.FlightRight{
	float: right;
	color: blue;
}
 .im{
      width: 30%;
      height: 30%;
}

.nonRefund{
	color: green;
}



table {
    border-collapse: collapse;
    width: 50%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}