
<div class="container">
<div>	 
	<mat-card>
		<form (submit)="searchingDetails(datas)" #datas="ngForm">	
	  <br>  	
	  		&nbsp;&nbsp;&nbsp;&nbsp;
	  		<mat-form-field>
		      <input matInput type="text"  placeholder="From"  name="from" ngModel required>      
		    </mat-form-field>
		    &nbsp;&nbsp;&nbsp;&nbsp;
	    	<mat-form-field>
		      <input matInput type="text"  placeholder="To" name="to" ngModel required>      
		    </mat-form-field> 
		    &nbsp;&nbsp;&nbsp;&nbsp;
		    <i class="material-icons">
			flight_takeoff
			</i>
			&nbsp;&nbsp;&nbsp;&nbsp;
			<mat-form-field>
				<input matInput type="date"  placeholder="Depart" name="date" ngModel required>      
		    </mat-form-field> <br>
		    &nbsp;&nbsp;&nbsp;&nbsp;
			<mat-form-field>
		      <input matInput type="number"  placeholder="Adults" name="adult" ngModel required>      
		    </mat-form-field> 
		    &nbsp;&nbsp;&nbsp;&nbsp;
			<mat-form-field>
		      <input matInput type="number"  placeholder="Children" name="children" ngModel required >      
		    </mat-form-field> 
		    &nbsp;&nbsp;&nbsp;&nbsp;
			<mat-form-field>
		      <input matInput type="number"  placeholder="Infants" name="infants" ngModel required >      
		    </mat-form-field> <br>
		    &nbsp;&nbsp;&nbsp;&nbsp;
			<mat-form-field>
			  <mat-select placeholder="Class" name="class" ngModel required>
			    <mat-option *ngFor="let class of classes" [value]="class.value" >
			      {{class.value}}
			    </mat-option>
			  </mat-select>
			</mat-form-field>
			&nbsp;&nbsp;&nbsp;&nbsp;
			<button mat-raised-button color="accent" type="submit" >Search</button>
			
			<br><br>
		
	</form>
	</mat-card>
</div><br><br>
		<!-- <div *ngFor="let detail of details">{{detail.from}}{{detail.to}}{{detail.date}}{{detail.adult}}{{detail.children}}{{detail.infants}}{{detail.class}}</div> -->

	<!-- <div *ngFor="let detail of details">{{detail}}</div> -->
	<!-- <button (click)="newMessage()">New Message</button> -->
	<!-- <app-flight-details></app-flight-details> -->
		<div>
	<!-- 	<div>hi{{check}}</div> -->
	
		<div *ngIf="books.length > 0">
			<mat-card >
			<div class="col-sm-2">
				FlightName
			</div>
			<div class="col-sm-2">
				Departure
			</div>
			<div class="col-sm-2">
				Arrival
			</div >
			<div class="col-sm-2">
				Duration
			</div >	
			
			<div class="col-sm-2" >
				Price
			</div>	
			<br>
		</mat-card>
		<mat-card *ngFor="let book of books">
		<mat-card >
			<div class="col-sm-2">
				<span *ngIf="book.carrierName==='Red Airways'">
					<img src="assets/img/red1.png" class="im">
				</span>
				<span *ngIf="book.carrierName==='Green Airways'">
					<img src="assets/img/green.png" class="im">
				</span>
				<span *ngIf="book.carrierName==='Blue Airways'">
					<img src="assets/img/blue.png" class="im">
				</span>
				
				{{book.flightName}}
			</div>
			<div class="col-sm-2">
				{{book.departureTime}}
			</div>
			<div class="col-sm-2">
				{{book.arrivalTime}}
			</div >
			<div class="col-sm-2">
				{{book.duration}}
			</div >	
			
				<div class="col-sm-2" *ngIf="className===book.class[0].classType">
					&#8377;{{book.class[0].price}}
				</div>	

				<div class="col-sm-2" *ngIf="className===book.class[1].classType">
					
					&#8377;{{book.class[1].price}}
				</div>
				
				<div class="col-sm-2" *ngIf="className===book.class[2].classType">
					&#8377;{{book.class[2].price}}
				</div>
			

			<div class="col-sm-2">
				 <button mat-raised-button color="warn" routerLink="/flight/flightDetails/booking" type="button" id="bt">Book</button>
			</div><br>
		</mat-card>
		<mat-accordion>
		  
		  <mat-expansion-panel>
		    <mat-expansion-panel-header>
		      <mat-panel-title>
		        <div class="FlightRight" >Flight Details</div>
		      </mat-panel-title>
		    </mat-expansion-panel-header>
			    <mat-tab-group>
				  <mat-tab label="Flight Details">
				  <br> 
				  	<div>
				  		<div class="col-sm-2">
							<span *ngIf="book.carrierName==='Red Airways'">
								<img src="assets/img/red1.png" class="im">
							</span>
							<span *ngIf="book.carrierName==='Green Airways'">
								<img src="assets/img/green.png" class="im">
							</span>
							<span *ngIf="book.carrierName==='Blue Airways'">
								<img src="assets/img/blue.png" class="im">
							</span>
							{{book.flightName}}
						</div>
						<div class="col-sm-2">
							{{book.departureTime}}
						</div>
						<div class="col-sm-2">
							{{book.arrivalTime}}
						</div >
						<div class="col-sm-2">
							{{book.duration}}
						</div >	
						<div class="nonRefund">Non Refundable</div>
					</div>
				  </mat-tab>
				  <mat-tab label="Fare Details">
				  	<div>
				  		<br>
				  		<table>
								  <thead>
								    <tr>
								      <th>Fare breakup</th>
								    </tr>
								  </thead>
								  <tbody>
								    <tr >
								      <td>Base Fare </td>
								      <td>
								      	<span  *ngIf="className===book.class[0].classType">
											 &#8377;{{(book.class[0].price*adult)+(book.class[0].price*children*.70)+(book.class[0].price*infants*.20)}}
										</span>	

										<span  *ngIf="className===book.class[1].classType">
											 &#8377;{{(book.class[1].price*adult)+(book.class[1].price*children*.70)+(book.class[1].price*infants*.20)}}
											
										</span>
										
										<span  *ngIf="className===book.class[2].classType">
											 &#8377;{{(book.class[2].price*adult)+(book.class[2].price*children*.70)+(book.class[2].price*infants*.20)}}
										</span>
									</td>
								    </tr>
								    <tr >
								      <td>Fees & Surcharge </td>
								      <td> &#8377;{{(425*adult)+(425*children*.70)+(425*infants*.20)}}</td>
								    </tr>
								    <tr >
								      <td>Total </td>
								      <td>
								      	<span  *ngIf="className===book.class[0].classType">
											 &#8377;

											 {{(book.class[0].price*adult)+(book.class[0].price*children*.70)+(book.class[0].price*infants*.20)+(425*adult)+(425*children*.70)+(425*infants*.20)}}
										</span>	

										<span  *ngIf="className===book.class[1].classType">
											 &#8377;
											{{(book.class[0].price*adult)+(book.class[0].price*children*.70)+(book.class[0].price*infants*.20)+(425*adult)+(425*children*.70)+(425*infants*.20)}}
										</span>
										
										<span  *ngIf="className===book.class[2].classType">
											 &#8377;{{(book.class[2].price*adult)+(book.class[2].price*children*.70)+(book.class[2].price*infants*.20)+(425*adult)+(425*children*.70)+(425*infants*.20)}}
										</span>
								      </td>
								    </tr>
								  </tbody>
								</table>
				  		
				  		
				  	</div>
				  	  
				  </mat-tab>
				  <mat-tab label="Baggage Details"> 
				  			<span  *ngIf="className===book.class[0].classType">
								<table>
								  <thead>
								    <tr>
								      <th>Person</th>
								      <th>Cabin</th>
								      <th>Ccheckin</th>
								    </tr>
								  </thead>
								  <tbody>
								    <tr >
								      <td>Adult </td>
								      <td>7 Kgs </td>
								      <td>{{book.class[0].baggageDetails[0].adult}} Kgs</td>
								    </tr>
								    <tr >
								      <td>Child </td>
								      <td>7 Kgs </td>
								      <td>{{book.class[0].baggageDetails[0].child}} Kgs</td>
								    </tr>
								    <tr >
								      <td>Infants </td>
								      <td>0 Kgs </td>
								      <td>{{book.class[0].baggageDetails[0].infant}} Kgs</td>
								    </tr>
								  </tbody>
								</table>
							</span>	

							<span  *ngIf="className===book.class[1].classType">
								<table>
								  <thead>
								    <tr>
								      <th>Person</th>
								      <th>Cabin</th>
								      <th>Ccheckin</th>
								    </tr>
								  </thead>
								  <tbody>
								    <tr >
								      <td>Adult </td>
								      <td>7 Kgs </td>
								      <td>{{book.class[1].baggageDetails[0].adult}}Kgs</td>
								    </tr>
								    <tr >
								      <td>Child </td>
								      <td>7 Kgs </td>
								      <td>{{book.class[1].baggageDetails[0].child}} Kgs</td>
								    </tr>
								    <tr >
								      <td>Infants </td>
								      <td>0 Kgs </td>
								      <td>{{book.class[1].baggageDetails[0].infant}} Kgs</td>
								    </tr>
								  </tbody>
								</table>
							</span>
							
							<span  *ngIf="className===book.class[2].classType">
								<table>
								  <thead>
								    <tr>
								      <th>Person</th>
								      <th>Cabin</th>
								      <th>Checkin</th>
								    </tr>
								  </thead>
								  <tbody>
								    <tr >
								      <td>Adult </td>
								      <td>7 Kgs </td>
								      <td>{{book.class[2].baggageDetails[0].adult}} Kgs</td>
								    </tr>
								    <tr >
								      <td>Child </td>
								      <td>7 Kgs </td>
								      <td>{{book.class[2].baggageDetails[0].child}} Kgs</td>
								    </tr>
								    <tr >
								      <td>Infants </td>
								      <td>0 Kgs </td>
								      <td>{{book.class[2].baggageDetails[0].infant}} Kgs</td>
								    </tr>
								  </tbody>
								</table>
							</span>
				  	
				  </mat-tab>
				</mat-tab-group>
		  </mat-expansion-panel>
		</mat-accordion>
	</mat-card>
	</div>
	</div>
<!-- 	<div>{{message}}</div> -->
<!-- <div *ngFor="let bookss of books">
		<div *ngFor="let book of bookss">
			{{book.class[2].baggageDetails[0].infant}}
		</div>
</div>
<div *ngFor="let post of posts">{{post.classes}}</div>
	</div>-->
	<!-- <div>check:{{check}}</div>  -->

	
</div>